// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';




.content {
    .odd {
        background-color: #fff;
    }
    .even {
        background-color: #efefef;
    }
}

.hi {
  background-color: #efefef;
}

.app {
    color:red;
}